@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&subset=japanese');
@import "bootstrap";
@import url("responsive.css") screen and (max-width: 768px);

// 全体の設定 ここから
*{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;//10px
}
body{
    font-size: 1.6rem;//16px
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
p{
    font-size: 1.6rem;//16px
}
li{
	list-style-type: none;
}

//#wrapperの幅
// #wrapper{
//   width: 100%;
//   margin: 0 auto;
// }

//FontAwsomeの隙間
.fas{
  padding-right: 0.8rem;
}
.far{
  padding-right: 0.8rem;
}

.gl-header_title{//の文字隠し
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  }
/*
* ハンバーガーアイコン
*/
.navbar {
	background-color: #cc0000;
	.navbar-toggle {
		background-color: #f9f9f9;
		.icon-bar {
			background-color: #cc0000;
		}
	}
}


/*
* ヒーローイメージ
*/
.hero{
	width: 100%;
	margin: 2rem 0 0 auto;
}
.heroTop,
.heroBottom  {
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}
// .heroBottom{
// 	display: flex;
// 	justify-content: space-around;
// }
.hero img{
	width: 5rem;
}

.heroTitle{
	margin: 2rem 1rem;
	font-size: 3.2rem;
	text-align: center;
	letter-spacing: 1.7rem;
}
#name {
	font-size: 6rem;
	font-weight: 700;
	letter-spacing: 2.5rem;
	color: #333;
}

//ナビゲーションバー
.navbar {
	background-color: #cc0000;
}
#navbar a{
	color: #f9f9f9;
}

#navbar a:hover{
	background-color: #f9f9f9;
	color: #cc0000;
}
.nav-menu {
	display: flex;
	justify-content: space-between;
}

//profile
.block_body_p {
	display: flex;
	justify-content: space-between;
	@media screen and (max-width: 768px) {
		display:block;
	}
}
.faceImage{
	max-width: 50rem;
	@media screen and (max-width: 768px) {
    display: block;
    width: 100%;
    // flex-direction: columns;
  }
  //↑ここは再度検討が必要。うまくレスポンシブにならない。
// 	height: 50rem;
// 	background: url("../images/profile.png") 0 0 no-repeat;
}
//スキルの画像
th{
	width: 10rem;
	vertical-align: top;
}
// td {
// 	align: center;
// }
table img{
	padding-top:1.5rem;
	padding-right: 2rem;
	width:5rem;
	}
/*
* 共通コンテンツ
*/
.block {
	margin: 80px 0;
	&_body {
		&_title {
			padding-left: 10px;
			margin: 40px 0;
			border-left: 5px solid #cc0000;
			font-size: 2rem;
		}
		&_subtitle {
			margin: 40px 0;
			font-size: 1.4em;
		}
		&_p {
			margin: 40px 0;
			padding-bottom: 40px;
			line-height: 3;
			border-bottom: 1px dotted #cc0000;
		}
		&_lists {
			margin-bottom: 40px;
			li {
				padding-left: 40px;
				margin-bottom: 20px;
				display: flex;
				&::before {
					content: "";
					display: block;
					width: 12px;
					height: 12px;
					margin: 2px 10px 0 0;
					border-radius: 2px;
					background-color: #bbb;
				}
			}
		}
	}
}

//上に戻るボタン
.page-top {
  position: fixed;
  bottom: 20px;
  right: 25px;
  overflow: hidden;
  z-index: 20;
	border: 2px solid #cc0000;
	border-radius: .5rem;
	background-color: #f9f9f9;
	width: 5rem;
	height: 5rem;
	text-align:center;
	padding-top: 1rem;
  @media screen and (max-width: 768px) {
    bottom: 50px;
  }
  @media (max-width: 768px) and (orientation: landscape) {
    bottom: 100px;
  }
}
.fa-arrow-up{
	color: #cc0000;
}

/*
* フッター
*/
.gl-footer {
	width: 100%;
	height: 100px;
	padding-top: 4rem;
	background-color: #cc0000;
	&_container {
		text-align: center;
		color: #f9f9f9;
	}
}

@import "second";
